@import url("global.css");

h1{
  font-size: 50px; 
  }
h2{
  margin: 0px;
}

body {
  margin: 0px;
  background: linear-gradient(170deg, rgb(122, 4, 4), #d3430a, #d48c05, #f28705, #f24405, #000000) fixed;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

 
header{
  background-color: #ffffff54;
text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-brazao,.brazao {
  width: 70px;
  height: 100px;
}
.user {
  width: 110px;
  height: 60px;
} 
.nome{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header  {
  font-size: 1.5rem;
  color: #e0e0e0;
}
.container{
  display: flex;
  justify-content: center;
}

.main-box {
    background-color: #ffffff54;
    margin: 100px 10px;
    text-align: center;
    border-radius: 10px;
    max-width: 450px;
    min-width: 300px;  
    padding: 20px; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.226);
}
 
.botao { 
    color: black;
    text-decoration: none;
    border: 3px solid rgb(252, 122, 0); 
    width: 300px;
    height: 90px;  
    display: inline-block;
    margin: 10px;
    line-height: 90px;
    text-align: center;
    background-image: linear-gradient(to bottom, #FFB00D, #FF770D);
    border-radius: 5px;
    font-size: 30px;
}

.botao:hover{
    background-image: linear-gradient(to bottom, #e0990b, #e0670b);
    box-shadow: 0px 0px 3px #ffa601;
    cursor: pointer;
  }

.btn{
    border: 3px solid #000000;
    color: black;
    text-decoration: none; 
    margin: auto; 
    width: 300px;
    height: 90px; 
    margin: 10px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom, #e06c00, #ff0000);
    border-radius: 5px;
    font-size: 30px;
  }
  
  .btn:hover {
    background-image: linear-gradient(to bottom, #8b4300, #700101);
    transition: background-color 1s;
  }
  
  .tutor,.aluno,.eletiva{
    display: none;
  }

  .tutor,.aluno,.eletiva,.gestor{
    text-align: center;
  }

  .btn-sair{
    border: 3px solid #000000;
    color: black;
    text-decoration: none; 
    margin: auto;  
    margin: 10px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom, #e06c00, #ff0000);
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    font-size: 17px;
  }
  
  .btn-sair:hover{
    background-image: linear-gradient(to bottom, #bb5c02, #c90202);
  }

  .btn-voltar{
    font-size: 17px;
    border: 3px solid #000000;
    color: black;
    text-decoration: none; 
    margin: auto;
    padding: 10px;  
    width: 80px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom, #f5d103, #f56e00);
    border-radius: 5px;
  }

  .btn-voltar:hover{
    background-image: linear-gradient(to bottom, #c0830a, #bd580c);
  }