@import url("global.css");

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header{
  height: 100px;
}

body{
  margin: 0px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p{
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  margin: 0px;
  height: 100%;
}

button {
  margin-top: 20px;
}
 

/* main */

.eletiva-bg{
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  align-items: center;
  place-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}

.eletiva-bg .eletivas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.title-eletiva{
  margin: 20px auto;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.075);
  background-color: rgb(240, 240, 240);
  padding: 20px 40px;
}

.botao{
  border: none;
  width: 120px;
  height: 40px;
  font-weight: bold;
  text-align: center; 
  background-color: rgba(0, 195, 234, 0.667); 
  font-size: 19px;  
  transition: 0.5s ease-in;
}
a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  text-align: justify;
}
.nada{
  background-color: #ffffff82;
  padding: 12px;
  border-radius: 10px; 
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.226); 
  width: 350px;
  margin: 0 auto;
}

.botao:hover{
  background-color: rgba(0, 169, 203, 0.667); 
  cursor: pointer;
}

.eletivas{ 
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff90;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.075);
}
 
.eletivas .user{
  width: 90px;
  height: 90px;
}

.eletivas span{
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  display: grid;
  text-align: center;
}

@media(max-width: 1100px){

  .eletiva-bg{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .user a{
    font-size: 1.5rem;
  }
} 

@media (max-width: 800px){

 .eletiva-bg {
  margin-top: 30px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
 }
}

@media (max-width: 600px){

   .eletivas span{
    font-size: 1.1rem;
   }

}

@media (max-width: 500px){


  .eletiva-bg{
    grid-template-columns: 1fr;
  }
}

.nome-eletiva{
  margin: 0px;
  font-size: 15px;
}

.botao-excluir{
  text-align: center;
  display: block;
  padding: 10px 15px;
  background-image: linear-gradient(to bottom, #ff7a0d, #f74803, #db0303);
    font-size: 1.3rem;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(81, 0, 0, 0.568);
    border-radius: 8px;                                                       
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 500;
}

.botao-excluir:hover{
  cursor: pointer;
  background-image: linear-gradient(to bottom, #cb620b, #b13200, #9a0000);
  box-shadow: 2px 2px 5px rgba(81, 0, 0, 0.568);
}
.botao-excluir,
.botao{
  cursor: pointer;
}

 p{
    margin: 20px;
 }

 

    
footer {
  margin-top: 130px;
  padding: 10px;
  background-color: #161616;
  text-align: center;
  color: white;
}


.nomes-grupos{ 
  display: flex;
  justify-content: center; 
  margin-top: 16px;
}

.vertical{
  height: 200px;
  border-left: 2px solid; 
}

.back{
width: 200px;

}
.front{
  width: 200px;

}
.bd{
  width: 200px;

}

.creditos {
  margin-bottom: 10px;
}
.creditos p{
  margin-bottom: 1px;
}

.informacoes-escola p{
 margin-bottom: 7px;
}
.instagram-links{ 
display: flex;
margin: 0 auto; 
width: 190px;

  }
.tecnico-sala{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 100px;
  
}
.escola-insta{
  display: flex;
  flex-direction:row;
  align-items: center; 
  text-align: center;
  width: 90px;
  
}
 
.informacoes-escola img {
  width: 20px;
  margin: 0 5px;
}

.informacoes-escola a {
  text-decoration: none;
  color: #919191;
  margin: 0 5px;
}

.linha-horizontal {
  border: 1px solid #ccc;
  margin: 10px 0;
}